<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itniuma.bitinn.mapper.article.CategoryMapper">

    <select id="list" resultType="com.itniuma.bitinn.pojo.entity.Category">
        SELECT * FROM category ORDER BY id
    </select>

    <select id="findById" resultType="com.itniuma.bitinn.pojo.entity.Category">
        SELECT * FROM category WHERE id = #{id}
    </select>

</mapper>
